mixin rating(number, checked=true)
    span.rating
        - for (var i=5; i>=1; i--)
            if i==checked
                input.rating__input(id="rating"+number+i type="radio" name="rating"+number value=`${i}` checked)
                label.rating__label(for="rating"+number+i)=i
            else
                input.rating__input(id="rating"+number+i type="radio" name="rating"+number value=`${i}`)
                label.rating__label(for="rating"+number+i)=i