mixin invoice({ standing, standingPrice, services, servicesPrice, additional, additionalPrice, total })
  .invoice
    .invoice__row
      .invoice__service!= standing
      div.invoice__sum!= standingPrice
    .invoice__row
      .invoice__service.invoice__service-with-icon!= services
      div.invoice__sum!= servicesPrice
    .invoice__row
      .invoice__service.invoice__service-with-icon= additional
      div.invoice__sum!= additionalPrice
    .invoice__row-total.invoice__row-font-large
      p.invoice__total-text Итого
      .invoice__line
      p.invoice__total-sum= total