mixin dropdown-guests({placeholder, value, option})
    .dropdown-guests
        .dropdown-guests__triger
            label.dropdown-guests__title
                input.dropdown-guests__input(type="text" placeholder=placeholder value=value)
        .dropdown-guests__content
            ul.dropdown-guests__list
                each item in option
                    li.dropdown-guests__item
                        p.dropdown-guests__text=item.name
                        .dropdown-guests__control
                            button.dropdown-guests__btn.dropdown-guests__btn--minus(type="button" data-direction='minus' aria-label='минус') &#8722;
                            input.dropdown-guests__counter(type=number value=item.value)
                            button.dropdown-guests__btn.dropdown-guests__btn--plus(type="button" data-direction='plus' aria-label='плюс') &#43;
            .dropdown-guests__bar                
                button.dropdown-guests__btn-clear(type="button") очистить
                button.dropdown-guests__btn-apply(type="button") применить


        

