include ../socials/socials
include ../site-logo/site-logo
include ../text-field/text-field

mixin footer({main, navigation, copy, subscription: {title, text}})
  footer.footer
    .footer__wrapper
      .footer__left-side
        section.footer__main
          +site-logo()
          p.footer__text= main

      .footer__center
        .footer__nav-container
          each link_block in navigation
            .footer__nav
              .footer__block-header
                h3.footer__subtitle= link_block.title
              p.footer__paragraph
                each link in link_block.links
                  a.footer__link(href=link.url)= link.text
        
      .footer__right-side
          .footer__block-header
            h3.footer__subtitle= title
          p.footer__subscription-text= text
          .footer__subscription-form
            +text-field({style: "subscripton", type: "email", placeholder: "Email"})
    
    .footer__copy
      p.footer__copy-text= copy
      .footer__socials
        +socials()